body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 35px;
    color: white; 
    margin: 50px 350px;
}

p {
    font-size: 20px;
}

.header {
    background-color: #5fdde5;
    height: 50px;
    padding: 20px 0;
    margin: 5px; 
}

.main-body {
    display: flex;
    margin: 5px 0; 
    height: 475px;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex: 40%; 
}

.hero {
    background-color: rgb(219, 196, 219);
    flex: 40%; 
    margin: 5px; 
    padding-top: 15px;
}

.sidebar {
    background-color: rgba(14, 163, 26, 0.726);
    flex: 60%;
    margin: 5px;  
    padding-top: 15px;
}

.right-container {
    display: flex;
    flex-direction: column;
    flex: 60%;
}

.main-content {
    background-color: rgb(253, 208, 7);
    flex: 65%; 
    margin: 5px; 
    padding-top: 15px;
}

.extra-content {
    flex: 35%; 
    background-color: rgb(103, 102, 109);
    margin: 5px; 
    padding-top: 15px;
}

.related {
    display: flex;
}

.related-images {
    flex: 75%;
    background-color: rgb(0, 150, 101);
    padding: 40px 0 55px;
    margin: 5px; 
    height: 35px;
}

.related-posts {
    flex: 25%;
    background-color: rgb(218, 178, 217);
    height: 35px;
    padding: 30px 0 65px;
    margin: 5px; 
    font-size: 30px;
}

.footer { 
    background-color: #FF9800;
    text-align: center;
    height: 50px;
    padding: 20px 0;
    margin: 5px;
}